<!DOCTYPE html>
<html>
  <head>
    <title>Mi Pinterest</title>

   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', "data-turbolinks-track" =>true %>
    <%= javascript_include_tag 'default', "data-turbolinks-track" =>true %>
     
   

	

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" ></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"></script>

  </head>

  <body   style="background-color:hsl(0,100%,50%);">

   <%= render 'shared/navbar'%>
   <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

